@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Bebas Neue, sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 35px;
    letter-spacing: 5px;
}


/* Loader */

.loader {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Image container */

.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 5px;
}


/* Media Query */

@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    .image-container {
        margin: 10px;
    }
}